{{#isQueryParam}}@ApiParam(value = "{{{description}}}"{{#required}}, required=true{{/required}}{{#allowableValues}}, allowableValues="{{{allowableValues}}}"{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}})
    @RequestParam("{{baseName}}"{{#required}}, required=true{{/required}})
    {{{dataType}}} {{paramName}}{{/isQueryParam}}